extends ../../../layouts/main-client-new.pug

block headTitle
    if labels.title && productName
        title!= labels.title + ' "' + productName + '"'
    else
        title Оплата участі

block contents
    .page
        .main
            include ../../../partials/client-new/header.pug

            .container
                .step-header
                    p.step-header__title.js_payment_title!= productName 
                    p.step-header-prices
                        span#dollar_price.step-header-prices__current 
                            span.js_dollar_price 
                            span.currencySym.dollar
                        span#hrn_price
                            span.js_hrn_price

                .steps-counter
                    .steps-counter-item.steps-counter-item--active
                        .steps-counter-item__line
                        .steps-counter-item__content
                            p.steps-counter-item__number 1
                            p.steps-counter-item__title #{labels.enterYourDataLbl || ""}
                    .steps-counter-item
                        .steps-counter-item__line
                        .steps-counter-item__content
                            p.steps-counter-item__number 2
                            p.steps-counter-item__title #{labels.selectPaymentMethodLbl || ""}
                    .steps-counter-item
                        .steps-counter-item__line
                        .steps-counter-item__content
                            p.steps-counter-item__number 3
                            p.steps-counter-item__title #{labels.finishPaymentLbl || ""}

                .steps-main
                    .steps-formblock
                        p.steps-formblock__title #{labels.enterYourData2Lbl || ""}
                        p.steps-formblock__text 
                            | #{labels.toBookPart1Lbl || ""}"
                            b.js_payment_title!= productName
                            | " #{labels.toBookPart2Lbl || ""}
                        form#form_1.mfrm.m_frm.steps-form.form 
                            .formgroup
                                label #{labels.enterYourNameLbl || ""}
                                input#name.name.f1_name(name='name' type='text', placeholder=(labels.yourFullNameLbl || ""), required='')
                            .formgroup
                                label #{labels.yourEmailLbl || ""}
                                input#email.email.f1_email(name='email' type='email', placeholder=(labels.yourMainEmailLbl || ""), required='')
                            .formgroup
                                label #{labels.yourPhoneLbl || ""}
                                input#phone.NumGroup.phone(type='tel' name='phone' required='' value="+380")
                            input#last1.last1(type='hidden' name='custom_telephone')
                            input#checktoken(type='hidden' name='campaign_token' value='')
                            input#checkrespo(type='hidden' name='thankyou_url')
                            input#emailexist(type='hidden' name='email_exists_url')
                            input(type='hidden' name='forward_data' value='')
                            input(type='hidden' name='start_day' value='0')
                            .form__submit
                                button#submit(type="submit").button #{labels.bookSubmitLbl || ""}
                            .steps-agreement
                                .custom-checkbox
                                    input(id="checkbox" type="checkbox" checked='checked')
                                    label(for="checkbox")
                                        | #{labels.iAgreeWithOffer1Lbl || ""} <a target='_blank', href='https://ua-policies.genius.space/policies'>#{labels.iAgreeWithOffer2Lbl || ""}</a>
                                        .custom-checkbox__box

                    include ../../../partials/client-new/checkout/guarantees


        include ../../../partials/client-new/footer.pug
        include ../../../partials/client-new/checkout/step1-scripts.pug

