extends ../../../layouts/main-client-new.pug

block headTitle
    if labels.title && productName
        title!= labels.title + ' "' + productName + '"'
    else
        title Оплата участі

block contents
    .page
        .main
            include ../../../partials/client-new/header.pug

            .container
                .step-header
                    p.step-header__title.js_payment_title!= productName
                    p.step-header-prices
                        span.dollar_price.step-header-prices__current
                            span.js_dollar_price
                            span.currencySym.dollar
                        span.hrn_price
                            span.js_hrn_price
                        span.rub_price
                            span.js_rub_price

                .steps-counter
                    .steps-counter-item.steps-counter-item--active
                        .steps-counter-item__line
                        .steps-counter-item__content
                            p.steps-counter-item__number 1
                            p.steps-counter-item__title #{labels.enterYourDataLbl || ""}
                    .steps-counter-item.steps-counter-item--active
                        .steps-counter-item__line
                        .steps-counter-item__content
                            p.steps-counter-item__number 2
                            p.steps-counter-item__title #{labels.selectPaymentMethodLbl || ""}
                    .steps-counter-item
                        .steps-counter-item__line
                        .steps-counter-item__content
                            p.steps-counter-item__number 3
                            p.steps-counter-item__title #{labels.finishPaymentLbl || ""}

                .steps-main
                    .steps-formblock.steps-formblock--2
                        .steps-payways
                            .steps-payways-header
                                p.steps-payways-title #{labels.selectPaymentMethod2 || ""}
                                p.steps-payways-subtitle.js_payment_title!= productName

                                .steps-payways-summary
                                    .steps-payways-summary__title #{labels.sumToPayLbl || ""}
                                    .steps-payways-summary__sum
                                        span.dollar_price.steps-payways-summary__sum-current
                                            span.js_dollar_price
                                            span.currencySym.dollar
                                        span.hrn_price
                                            span.js_hrn_price
                                        span.rub_price
                                            span.js_rub_price
                            if !(fondyHide && fondyHide === "true")
                               .steps-payways-card
                                    .steps-payways-card-currency
                                        .steps-payways-card-currency__title #{labels.cardCurrency || ""}
                                        .steps-payways-card-currency-list
                                            button(type="button" data-curr="uah").steps-payways-card-currency-list__item #{labels.UAH || ""}
                                            button(type="button" data-curr="usd").steps-payways-card-currency-list__item #{labels.USD || ""}
                                            button(type="button" data-curr="eur").steps-payways-card-currency-list__item #{labels.EUR || ""}
                                    //- .steps-payways-item(onclick="payFondy()")
                                    button#wfpSubmit2.steps-payways-item(type="button")
                                        .steps-payways-item__inner
                                            .steps-payways-item__text #{labels.payCard || ""}
                                            .steps-payways-item__images
                                                img(src="/img/client-new/step/payway-visa.svg")
                                                img(src="/img/client-new/step/payway-mc.svg") 
                            

                            if !(privatHide && privatHide === "true") || !(frisbeeHide && frisbeeHide === "true") || !(wayforpayHide && wayforpayHide === "true") || !(monoHide && monoHide === "true")
                                .steps-payways-installment
                                    p.steps-payways-installment__title #{labels.installment || ""}
                                    .steps-payways-installment-list
                                        if !(privatHide && privatHide === "true")
                                            .steps-payways-item#showPrivatPopupBtn.ua-block
                                                .steps-payways-item__inner
                                                    .steps-payways-item__text ПриватБанк
                                                    .steps-payways-item__images
                                                        img(src="/img/client-new/step/payway-privat.png")

                                        if !(wayforpayHide && wayforpayHide === "true")
                                            .steps-payways-item
                                                form(method="post" action="https://secure.wayforpay.com/pay" accept-charset="utf-8")#wfpForm
                                                    input(type="hidden" name='merchantAccount' value=wayforpayMerchant || '')
                                                    input(type="hidden" name='merchantAuthType' value='SimpleSignature')
                                                    input(type="hidden" name='merchantDomainName' value='pay.genius.space')
                                                    input(type="hidden" name='merchantSignature' value='')
                                                    input(type="hidden" name='orderReference' value=salesOrderID || '')
                                                    input(type="hidden" name='orderDate' value='')
                                                    input(type="hidden" name='amount' value=productPrice || '')
                                                    input(type="hidden" name='currency' value=currency.toUpperCase() || '')
                                                    input(type="hidden" name='productName' value=productName || '')
                                                    input(type="hidden" name='productPrice' value=productPrice || '')
                                                    input(type="hidden" name='productCount' value='1')
                                                    input(type="hidden" name='defaultPaymentSystem' value='card')
                                                    input(type="hidden" name='language' value='UA')
                                                    button(type="submit" style="display: none")

                                                button#wfpSubmit.steps-payways-item__inner(type="button")
                                                    span.steps-payways-item__text Monobank
                                                    span.steps-payways-item__images
                                                        img(src="/img/client-new/step/payway-mono-parts.png")
                                                        //- img(src="/img/client-new/step/payway-privat-parts.png")

                                        .steps-payways-item(onclick="payPlata()" style="display: none")
                                            .steps-payways-item__inner
                                                .steps-payways-item__text Plata by mono
                                                .steps-payways-item__images
                                                    img(src="/img/icons/pay/monobank.svg")
                                        
                                        //- if !(monoHide && monoHide === "true")
                                        //- if !(wayforpayHide && wayforpayHide === "true") || !(monoHide && monoHide === "true")
                                        //-     .steps-payways-item#showMonbankPopupBtn
                                        //-         .steps-payways-item__inner
                                        //-             .steps-payways-item__text Monobank
                                        //-             .steps-payways-item__images
                                        //-                 img(src="/img/icons/pay/monobank.svg")

                                        //- if !(frisbeeHide && frisbeeHide === "true")
                                        //-     .steps-payways-item(onclick="payFrisbee()").ua-block
                                        //-         .steps-payways-item__text Frisbee
                                        //-         .steps-payways-item__images
                                        //-             img(src="/img/client-new/step/payway-frisbee.png")

                        include ../../../partials/client-new/modals/installment-privat
                        include ../../../partials/client-new/modals/installment-monobank

                    include ../../../partials/client-new/checkout/guarantees


        include ../../../partials/client-new/footer.pug
        include ../../../partials/client-new/checkout/step2-scripts.pug