.steps-guarantees
    .steps-guarantees-item
        .steps-guarantees-item__header
            .steps-guarantees-item__icon
                img(src="/img/client-new/step/guarantee-return.svg")
            p.steps-guarantees-item__title!= labels.guarantee.title || ""
        p.steps-guarantees-item__text
            span!= labels.guarantee.text1 || ""
            br
            br
            span!= labels.guarantee.text2 || ""
    .steps-guarantees-item
        .steps-guarantees-item__header
            .steps-guarantees-item__icon
                img(src="/img/client-new/step/guarantee-protection.svg")
            p.steps-guarantees-item__title!= labels.protection.title || ""
        p.steps-guarantees-item__text
            span!= labels.protection.text1 || ""
            br
            br
            span!= labels.protection.text2 || ""