doctype html
html(lang='ru-RU')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Оплата участия
		// SEO
		meta(property='og:title', content='Оплата участия')
		meta(property='og:description', content='Оплата участия')
		meta(property='og:image', content='https://geniusmarketing.me/pic.png')
		meta(property='og:url', content='https://geniusmarketing.me/')
		meta(property='fb:admins', content='1510615147')
		meta(property='fb:app_id', content='473200492729081')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
	body
		div Сейчас Вы будете переадресованы на страницу оплаты...

		script.
			function getCookie(cname) {
				var name = cname + "=";
				var ca = document.cookie.split(";");
				for (var i = 0; i < ca.length; i++) {
					var c = ca[i];
					while (c.charAt(0) == " ") c = c.substring(1);
					if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
				}
				return "";
			}
		script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js")
		script.
			if ("#{salesOrderID}") {
				var data = {
					Email             : "#{email}",
					salesOrderID      : "#{salesOrderID}",
					productName       : "#{productName}",
					productPrice      : "#{productPrice}",
					currency          : "#{currency.toUpperCase()}",
					paymentDescription: "Оплата продукта \"#{productName}\"",
					redirectURL       : "#{redirectURL}" || null
				};

				axios({
					method: "post",
					// url   : "http://localhost:3001/paypal/payment",
					url   : "/paypal/payment",
					data  : data
				})
					.then(function (response) {
						if (response.data.result && response.data.link) {
							// console.log(response.data.link);
							window.location = response.data.link;
						} else if (response.data.error) {
							console.error(response.data.error);
						}
					});
			} else {
				var dealIDPay = getCookie("dealIDPay") || null;
				var contactID = getCookie("contactID") || null;

				var data2 = {
					"First_Name"  : "#{firstName}",
					"Email"       : "#{email}",
					"Phone"       : "#{phone}",
					"productName" : "#{productName}",
					"productID"   : "#{productID}",
					"productPrice": "#{productPrice}",
					"currency"    : "#{currency}",
					"contactID"   : contactID,
					"dealID"      : dealIDPay
				};

				axios({
					method: "post",
					url   : "/sales_order",
					data  : data2
				})
					.then(function (response) {
						var salesOrderID = response.data.salesOrderID;

						var data = {
							Email             : "#{email}",
							salesOrderID      : salesOrderID || null,
							productName       : "#{productName}",
							productPrice      : "#{productPrice}",
							currency          : "#{currency.toUpperCase()}",
							paymentDescription: "Оплата продукта \"#{productName}\"",
							redirectURL       : "#{redirectURL}" || null
						};

						axios({
							method: "post",
							// url   : "http://localhost:3001/paypal/payment",
							url   : "/paypal/payment",
							data  : data
						})
							.then(function (response) {
								if (response.data.result && response.data.link) {
									// console.log(response.data.link);
									window.location = response.data.link;
								} else if (response.data.error) {
									console.error(response.data.error);
								}
							});
					});
			}