doctype html
html(lang='ru-RU')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title #{labels.title || ""}
		// SEO
		meta(property='og:title', content=(labels.title || ""))
		meta(property='og:description', content=(labels.title || ""))
		meta(property='og:image', content='https://geniusmarketing.me/pic.png')
		meta(property='og:url', content='https://geniusmarketing.me/')
		meta(property='fb:admins', content='1510615147')
		meta(property='fb:app_id', content='473200492729081')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='stylesheet', href='/css/checkout/step1/libs.min.css')
		link(rel='stylesheet', href='/css/checkout/step1/main.min.css')
		link(rel='stylesheet', href='/css/checkout/step1/edit.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		// Google Tag Manager
		script.
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push(
					{
						'gtm.start': new Date().getTime(),
						event      : 'gtm.js'
					});
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-TRNP8W');
		// End Google Tag Manager
	body
		// Google Tag Manager (noscript)
		noscript
			iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-TRNP8W" height="0" width="0" style="display:none;visibility:hidden")
		// Google End Tag Manager (noscript)

		// SECTION 1
		a.tostep1(onclick="javascript:void(0);")
			section.sec1
				.container
					p.title.js_payment_title
					.steps
						.step.step1.inl
							p.text
								span.circle
								|  #{labels.step1Lbl || ""}
							p.text1 #{labels.enterYourDataLbl || ""}
						.arrow.inl
						.step.step2.inl
							p.text
								span.circle
								|  #{labels.step2Lbl || ""}
							p.text1 #{labels.selectPaymentMethodLbl || ""}
						.arrow.inl
						.step.step3.inl
							p.text
								span.circle
								|  #{labels.step3Lbl || ""}
							p.text1 #{labels.finishPaymentLbl || ""}
		section.sec2
			.container
				.block
					.block-header
						.product.inl.disapear
							p.text
								span.js_payment_title
								br
								span.js_product_type.product_type
						.price.inl.disapear
							.text2.inl #{labels.sumToPayLbl || ""}
							p#dollar_price.inl
								span.js_dollar_price
								span.dollar $
							.inl
								p#rub_price.text3
									span.js_rub_price
									span.val руб.
								p#hrn_price.text3
									span.js_hrn_price
									span.val грн.
						p.step1text
							| #{labels.toBookPart1Lbl || ""}"
							span.js_payment_title
							| ",&nbsp;
							br
							| #{labels.toBookPart2Lbl || ""}
						p.success
					p.text4 #{labels.enterYourData2Lbl || ""}
					a.backlink
					.links.links4
						form#form_1.mfrm.m_frm
							.inl.formpart
								p.namelabel #{labels.enterYourNameLbl || ""}
								input#name.name.f1_name(name='name', type='text', placeholder=(labels.yourFullNameLbl || ""), required='')
							.inl.formpart
								p.namelabel #{labels.yourEmailLbl || ""}
								input#email.email.f1_email(name='email', type='text', placeholder=(labels.yourMainEmailLbl || ""), required='')
							.inl.formpart
								p.namelabel #{labels.yourPhoneLbl || ""}
								input#phone.NumGroup.phone(type='text', name='phone', required='')
							input#last1.last1(type='hidden', name='custom_telephone')
							input#checktoken(type='hidden', name='campaign_token', value='')
							input#checkrespo(type='hidden', name='thankyou_url')
							input#emailexist(type='hidden', name='email_exists_url')
							input(type='hidden', name='forward_data', value='')
							input(type='hidden', name='start_day', value='0')
							input.subm1.button2.hvr-grow(type='submit', value=(labels.bookSubmitLbl || ""))
							.check
								input#checkbox(type='checkbox', checked='checked')
								label.inl.active(for='checkbox') #{labels.iAgreeWithOffer1Lbl || ""}
								a.inl.oferta(target='_blank', href='https://geniusmarketing.me/usloviya-oferty/') #{labels.iAgreeWithOffer2Lbl || ""}
					script.
						var step = '0';
						$('.tostep1').attr("disabled", "disabled").on("click", function () {
							return false;
						});;
					.text5
						| !{labels.doYouHaveQuestsLbl || ""}
						br
						| тел. <span class="notsng_text"><b>+7 495 241 07 87</b> (#{labels.russiaLbl || ""})</span> <span class="sng_text"><b>+38 044 237 13 18</b> (#{labels.ukraineLbl || ""})</span>
					.info
						.part.part1.inl
							p.text7 #{labels.guarantee.title || ""}
							p.text8
								| #{labels.guarantee.text1 || ""}
								br
								br
								| #{labels.guarantee.text2 || ""}
						.part.part2.inl
							p.text7 #{labels.protection.title || ""}
							p.text8
								| #{labels.protection.text1 || ""}
								br
								br
								| #{labels.protection.text2 || ""}
		// FOOTER
		footer.main-footer
			.container
				.footer1
					.copy-wrap
						p.copy
							img(src='/img/footer-logo.png')
							br
							br
							| #{labels.address1 || ""}
							br
							| #{labels.address2 || ""}
							br
							| #{labels.address3 || ""}
							br
				.footer2
					.footer-inline
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/politika-konfidencialnosti/') #{labels.policy1 || ""}
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/otkaz-ot-otvetstvennosti/') #{labels.policy2 || ""}
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/soglasie-s-rassylkoj/') #{labels.policy3 || ""}
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/politika-vozvrata-denezhnyx-sredstv/') #{labels.policy4 || ""}
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/usloviya-oferty/') #{labels.policy5 || ""}
				.footer3
					p.social
						| #{labels.joinUs || ""}
						br.lg
						br
						a.icon-fb.icon-soc(href='https://www.facebook.com/GeniusMarketing.me/', target='_blank')
							i.fa.fa-facebook(aria-hidden='true')
						a.icon-vk.icon-soc(href='https://vk.com/geniusmarketing', target='_blank')
							i.fa.fa-vk(aria-hidden='true')
						a.icon-inst.icon-soc(href='https://www.instagram.com/geniusmarketingofficial/', target='_blank')
							i.fa.fa-instagram(aria-hidden='true')
						a.icon-yt.icon-soc(href='https://www.youtube.com/user/Olestimofeev', target='_blank')
							i.fa.fa-youtube(aria-hidden='true')
					p.text4.notsng_text
						span.ru +7 (495) 241 07 87
						|  (#{labels.russiaLbl})
					p.text4.sng_text
						span.ru +38 (044) 237 13 18
						|  (#{labels.ukraineLbl})
				.footer-line
				p.bottom-text
					| #{labels.copyright1 || ""}
					br
					| #{labels.copyright2 || ""}
					a.mail(href='mailto:info@geniusmarketing.me') info@geniusmarketing.me

		include ../../../partials/client/preloader.pug

		// END FOOTER
		script.
			// Курс рубля к доллару
			var rub_cur = 68;
			// Курс гривны к доллару
			var uah_cur = 28;
			console.log('success');
		// HIDDEN ELEMENTS (MODALS)
		#modal-video.modal-overlay
			.modal-content
				.close-button
					.one
					.two
				#video-popup
		// END HIDDEN ELEMENTS (MODALS)
		script(src='/js/libs.min.js')
		script(src='/js/common.js')
		script.
			$("input.phone").intlTelInput(
				{
					utilsScript       : '/js/utils.js',
					defaultCountry    : 'auto',
					separateDialCode  : false,
					nationalMode      : false,
					preferredCountries: ['ua', 'ru', 'by', 'kz']
				});

script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js")
script.
	var geolocationData = {
		country   : "",
		city      : "",
		utc_offset: ""
	}

	$(document).ready(function () {
		$("#name").val(getCookie("name") || "");
		$("#email").val(getCookie("email") || "");
		$("#phone").val(getCookie("phone") || "");
	});

	$('#form_1').submit(function (e) {
		e.preventDefault();

		$("#preloader").show();

		createContactInGR(function () {
			createDeal();
		});
	});

	function getCookie(cname) {
		var name = cname + "=";
		var ca = document.cookie.split(';');
		for (var i = 0; i < ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return undefined;
	}

	function createContactInGR(cb) {
		var data = {
			"name"    : document.getElementById("name").value,
			"email"   : document.getElementById("email").value,
			"phone"   : document.getElementById("phone").value,
			"campaign": getParameterByName("grUnpaid") || ""
		};

		if (getParameterByName("grUnpaid")) {
			axios({
				method: "post",
				url   : "/getresponse",
				data  : data
			}).then(function (response) {
				cb();
			});
		} else {
			cb();
		}
	}

	function createDeal() {
		var contactID = getCookie("contactID") || null;

		var data = {
			"First_Name"   : document.getElementById("name").value,
			"Email"        : document.getElementById("email").value,
			"Phone"        : document.getElementById("phone").value,
			"productName"  : "#{productName}",
			"productID"    : "#{productID}",
			"utm_campaign" : getParameterByName("utm_campaign") || "",
			"utm_medium"   : getParameterByName("utm_medium") || "",
			"utm_source"   : getParameterByName("utm_source") || "",
			"utm_term"     : getParameterByName("utm_term") || "",
			"utm_content"  : getParameterByName("utm_content") || "",
			"contactID"    : contactID,
			"Stage"        : "1. Заявка",
			"Amount"       : "#{productPrice}",
			"Currency"     : "#{currency.toUpperCase()}",
			"http_refferer": document.location.href || "",
			"Country"      : geolocationData.country || '',
			"City"         : geolocationData.city || '',
			"Time_zone"    : geolocationData.utc_offset
		};

		axios({
			method: "post",
			url   : "/deal",
			data  : data
		}).then(function (response) {
			$("#preloader").hide();

			if (response && response.data) {
				if (response.data.contactID) {
					setCookie("contactID", response.data.contactID, 365);
				}

				if (response.data.dealID) {
					setCookie("dealIDPay", response.data.dealID, 365);
				}
			}

			var url = `/checkout/2?email=${document.getElementById("email").value}&firstName=${document.getElementById("name").value}&phone=${document.getElementById("phone").value}&productName=#{productName}&productPrice=#{productPrice}&productID=#{productID}&currency=#{currency}&redirectURL=#{redirectURL}&merchantID=#{merchantID}`;
			if ("#{landing}" === "true") {
				url += "&landing=true";
			}

			if ("#{convertationHide}" === "true") {
				url += "&convertationHide=true";
			}

			if ("#{successLink}") {
				url += "&successLink=#{successLink}";
			}

			if ("#{salesOrderID}") {
				url += "&salesOrderID=#{salesOrderID}";
			}

			if ("#{lang}") {
				url += "&lang=#{lang}";
			}

			if ("#{fondyHide}" === "true") {
				url += "&fondyHide=true";
			}

			if ("#{monoHide}" === "true") {
				url += "&monoHide=true";
			}

			if ("#{payPalHide}" === "true") {
				url += "&payPalHide=true";
			}

			window.location = url;
		});
	}

	function getGeolocationData(callback) {
		var requestUrl = "https://ipapi.co/json";

		$.ajax({
			url    : requestUrl,
			type   : 'GET',
			success: function (json) {
				console.log("json", json);
				geolocationData.city = json.city;
				geolocationData.country = json.country_name;
				geolocationData.utc_offset = 'UTC' + json.utc_offset;

				callback();
			},
			error  : function (err) {
				console.log("Request failed, error= " + err);
				callback();
			}
		});
	}

	getGeolocationData(function () {
		console.log(geolocationData);
	});

	function getParameterByName(name) {
		name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
		var regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
		var results = regex.exec(location.search);
		return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}

script.
	var header_image = 'bg1.jpg';
	var payment_title = "#{productName}";
	var dollar_price = "#{productPrice}";
	if (Math.ceil(dollar_price * uah_cur) < 1000) {
		var hrn_price = Math.ceil(dollar_price * uah_cur);
	} else if ((Math.ceil(dollar_price * uah_cur) % 1000) < 10) {
		var hrn_price = Math.floor(Math.ceil(dollar_price * uah_cur) / 1000) + '&nbsp;00' + Math.ceil(dollar_price * uah_cur) % 1000;
	} else if ((Math.ceil(dollar_price * uah_cur) % 1000) < 100) {
		var hrn_price = Math.floor(Math.ceil(dollar_price * uah_cur) / 1000) + '&nbsp;0' + Math.ceil(dollar_price * uah_cur) % 1000;
	} else {
		var hrn_price = Math.floor(Math.ceil(dollar_price * uah_cur) / 1000) + '&nbsp;' + Math.ceil(dollar_price * uah_cur) % 1000;
	}
	if (Math.ceil(dollar_price * rub_cur) < 1000) {
		var rub_price = Math.ceil(dollar_price * rub_cur);
	} else if ((Math.ceil(dollar_price * rub_cur) % 1000) < 10) {
		var rub_price = Math.floor(Math.ceil(dollar_price * rub_cur) / 1000) + '&nbsp;00' + Math.ceil(dollar_price * rub_cur) % 1000;
	} else if ((Math.ceil(dollar_price * rub_cur) % 1000) < 100) {
		var rub_price = Math.floor(Math.ceil(dollar_price * rub_cur) / 1000) + '&nbsp;0' + Math.ceil(dollar_price * rub_cur) % 1000;
	} else {
		var rub_price = Math.floor(Math.ceil(dollar_price * rub_cur) / 1000) + '&nbsp;' + Math.ceil(dollar_price * rub_cur) % 1000;
	}
	var tovar_id = 394979;
	var token_GR = 'b7qk';
	var CRM_id = 1203;
	// var success_url = 'https://geniusmarketing.me/syndicate/payment-startup-webinar/step1.php';
	if (step == '0') {
		$('.steps').addClass('zero');
		$('.step1text').fadeIn(0);
		$('.tostep1').addClass('disable_link');
	} else if (step == '1') {
		$('.steps').addClass('first');
		$('.price').removeClass('disapear');
		$('.product').removeClass('disapear');
	} else if (step == '2') {
		$('.steps').addClass('second');
		$('.price').removeClass('disapear');
		$('.product').removeClass('disapear');
	} else if (step == '3') {
		$('.steps').addClass('third');
		$('.success').fadeIn(0);
		$('.success').html('СПАСИБО!');
	} else if (step == '4') {
		$('.steps').addClass('third');
		$('.success').fadeIn(0);
		$('.success').html('ВАШ ЗАКАЗ ОПЛАЧЕН');
	}
	$('#checktoken').val(token_GR);
	// $('#checkrespo').val(success_url);
	// $('#emailexist').val(success_url);
	// $('#form_1').attr('onsubmit', 'return validate_with_exportCRM(form_1,' + CRM_id + ');');
	// $('#form_1').attr('onsubmit','return validate(form_1,' + CRM_id + ');');
	$('.js_payment_title').html(payment_title);
	// $('.js_product_type').html(product_type);
	$('.js_dollar_price').html(dollar_price);
	$('.js_hrn_price').html(hrn_price);
	$('.js_rub_price').html(rub_price);
	// if(rub_price > 15000){
	//   $('.links1 .link3').fadeOut(0);
	// }
	$('.js_tovar_id').val(tovar_id);
	$('.sec1').css('background-image', 'url(/img/' + header_image + ')');


script(type='text/javascript').
	(function (d, w, s) {
		var widgetId = '22519',
			gcw = d.createElement(s);
		gcw.type = 'text/javascript';
		gcw.async = true;
		gcw.src = '//my.binotel.ua/getcall/widgets/' + widgetId + '.js';
		var sn = d.getElementsByTagName(s)[0];
		sn.parentNode.insertBefore(gcw, sn);
	})(document, window, 'script');

//if productID === '3678676000144209890'
//	script(src='//code.jivosite.com/widget/KgAn6a8H4r', async='')
//else if productID === '3678676000068245785'
//	script(src='//code.jivosite.com/widget/dn7iOcSQH2', async='')
//else if productID === '3678676000139748212'
//	script(src='//code.jivosite.com/widget/tf0fRa1rI1', async='')
//else if(productID === '3678676000132498801' || productID === '3678676000132498812' || productID === '3678676000121151482' || productID === '3678676000132498787' || productID === '3678676000121151526' || productID === '3678676000121151493' || productID === '3678676000121151482' || productID === '3678676000121151515')
//	script(src='//code.jivosite.com/widget/VoyxtyRgPE', async='')
//else if(productID === '​3678676000136353581' || productID === '​3678676000136353620' || productID === '3678676000136353581' || productID === '​3678676000136353620' || productID === '3678676000153218065' || productID === '3678676000153218036')
//	script(src='//code.jivosite.com/widget/voVxj8CO3H', async='')
//else if(productID === '3678676000124325087' || productID === '3678676000124325098' || productID === '3678676000146037919' || productID === '3678676000146037959' || productID === '3678676000149480035' || productID === '3678676000152103001')
//	script(src='//code.jivosite.com/widget/SrJ5iAH64Y', async='')
//else if productID === '​3678676000080526236'
//	script(src='//code.jivosite.com/widget/eE6xm6SIgR', async='')
//else if(productID === '​3678676000093619312' || productID === '​3678676000126365015')
//	script(src='//code.jivosite.com/widget/52jo20bV3Y', async='')
//else if(productID === '3678676000149969130')
//	script(src='//code.jivosite.com/widget/N5wmXwbNxB', async='')
//else if(productID === '3678676000149969241')
//	script(src='//code.jivosite.com/widget/XuZhWjOMYw', async='')
//else if(productID === '3678676000149969336')
//	script(src='//code.jivosite.com/widget/I24NScE1mW', async='')
//else
//	script(type='text/javascript').
//		(function () {
//			var widget_id = 'OkTveMoYQF';
//			var d = document;
//			var w = window;
//
//			function l() {
//				var s = document.createElement('script');
//				s.type = 'text/javascript';
//				s.async = true;
//				s.src = '//code.jivosite.com/script/widget/' + widget_id;
//				var ss = document.getElementsByTagName('script')[0];
//				ss.parentNode.insertBefore(s, ss);
//			}
//
//			if (d.readyState == 'complete') {
//				l();
//			} else {
//				if (w.attachEvent) {
//					w.attachEvent('onload', l);
//				} else {
//					w.addEventListener('load', l, false);
//				}
//			}
//		})();
script#ss-gadget(src='https://customer.smartsender.eu/js/client/gd.min.js?v2.0.0' data-target='FJPXlTvX' data-domain='myminismm')



script.
	$(function(){
		$.get("https://ipapi.co/json/?key=e4192db949f63bdb4a84f9d73bf5cafa9921a6a5", function (data) {
			if (data.country_code == 'UA') {
				$('.notsng_text').hide();
			} else {
				$('.sng_text').hide();
			}
		});
	});
