doctype html
html(lang='ru-RU')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title #{labels.title || ""}
		// SEO
		meta(property='og:title', content=(labels.title || ""))
		meta(property='og:description', content=(labels.title || ""))
		meta(property='og:image', content='https://geniusmarketing.me/pic.png')
		meta(property='og:url', content='https://geniusmarketing.me/')
		meta(property='fb:admins', content='1510615147')
		meta(property='fb:app_id', content='473200492729081')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='stylesheet', href='/css/checkout/step2/libs.min.css')
		link(rel='stylesheet', href='/css/checkout/step2/main.min.css')
		link(rel='stylesheet', href='/css/checkout/step2/edit.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src="https://forma.tinkoff.ru/static/onlineScript.js")
		// Google Tag Manager
		script.
			(function(w, d, s, l, i)
			{
			w[l] = w[l] || [];
			w[l].push(
			{
			'gtm.start': new Date().getTime(),
			event: 'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s),
			dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-TRNP8W');
		// End Google Tag Manager
	body
		// Google Tag Manager (noscript)
		noscript
			iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-TRNP8W" height="0" width="0" style="display:none;visibility:hidden")
		// Google End Tag Manager (noscript)

		// SECTION 1
		.tostep1
			section.sec1
				.container
					p.title.js_payment_title
					.steps
						.step.step1.inl
							p.text
								span.circle
								|  #{labels.step1Lbl || ""}
							p.text1 #{labels.enterYourDataLbl || ""}
						.arrow.inl
						.step.step2.inl
							p.text
								span.circle
								|  #{labels.step2Lbl || ""}
							p.text1 #{labels.selectPaymentMethodLbl || ""}
						.arrow.inl
						.step.step3.inl
							p.text
								span.circle
								|  #{labels.step3Lbl || ""}
							p.text1 #{labels.finishPaymentLbl || ""}
		section.sec2
			.container
				.block
					.block-header
						.product.inl.disapear
							p.text
								span.js_payment_title
								br
								span.js_product_type.product_type
						.price.inl.disapear
							.text2.inl #{labels.sumToPayLbl || ""}
							p#dollar_price.inl
								span.js_dollar_price
								span#currencySym.dollar
							.inl
								p#hrn_price.text3
									span.js_hrn_price
									span.val
								p#rub_price.text3
									span.js_rub_price
									span.val
						p.step1text
							| #{labels.toBookPart1Lbl || ""}"
							span.js_payment_title
							| ",
							b
								span.js_product_type
							| ,
							br
							| #{labels.toBookPart2Lbl || ""}
						p.success
					p.text4 #{labels.selectPaymentMethod2 || ""}

					//.links.links1
					//	if (fondyHide && fondyHide === "true")
					//	else
					//		a.link.link1.inl(onclick="payFondy();")
					//			span.button2.hvr-grow #{labels.payLbl || ""}
					//	//
					//		<a href='yandex.php' class="link link2 inl">
					//		<span class="button2 hvr-grow">Оплатить</span>
					//		</a>
					//	//
					//		<a href='webmoney.php' class="link link3 inl">
					//		<span class="button2 hvr-grow">Оплатить</span>
					//		</a>
					//	if (payPalHide && payPalHide === "true")
					//	else
					//		a.link.link4.inl(onclick="payPayPal();")
					//			span.button2.hvr-grow #{labels.payLbl || ""}
					//	//a.link.link5.inl(href='manual.php')
					//	//	span.button2.hvr-grow Оплатить
					//	if (monoHide && monoHide === "true")
					//	else
					//		.link.link6.inl.monobank-pay-btn
					//			button(type="button")#showMonbankPopupBtn.button2.hvr-grow Оплата частями от Monobank

					.payments
						if !(fondyHide && fondyHide === "true")
							a(onclick="payFondy();").payment.payment--3
								span.payment__title Банковская карта
								span.payment__footer
									span.payment__icons
										img(src="/img/icons/pay/visa.svg").payment__icon
										img(src="/img/icons/pay/mastercard.svg").payment__icon
										img(src="/img/icons/pay/mir.svg").payment__icon
						if !(payPalHide && payPalHide === "true")
							a(onclick="payPayPal();").payment
								span.payment__title PayPal
								span.payment__footer
									span.payment__icons
										img(src="/img/icons/pay/paypal.svg").payment__icon

						a(onclick="payTinkoff()").payment.payment--2
							span.payment__title Оплата частями от Tinkoff
							span.payment__footer
								span.payment__footer_text Без переплат
								span.payment__icons
									img(src="/img/icons/pay/tinkoff.svg").payment__icon

						if !(monoHide && monoHide === "true")
							button(type="button")#showMonbankPopupBtn.payment.ua-block.hidden
								span.payment__title Оплата частями от Monobank
								span.payment__footer
									span.payment__icons
										img(src="/img/icons/pay/monobank.svg").payment__icon
						if !(privatHide && privatHide === "true")
							button(type="button")#showPrivatPopupBtn.payment.ua-block.hidden
								span.payment__title Оплата частями от ПриватБанк
								span.payment__footer
									span.payment__icons
										img(src="/img/icons/pay/privat.png").payment__icon
						a(onclick="payFrisbee()").payment.ua-block.hidden
							span.payment__title Оплата частями от Frisbee
							span.payment__footer
								span.payment__icons
									img(src="/img/icons/pay/frisbee.svg").payment__icon

					script.
						var step = '1';
					.text5
						| !{labels.doYouHaveQuestsLbl || ""}
						br
						| тел. <b>+7 495 241 07 87</b> (#{labels.russiaLbl || ""}), <b>+38 044 237 13 18</b> (#{labels.ukraineLbl || ""})
					.info
						.part.part1.inl
							p.text7 #{labels.guarantee.title || ""}
							p.text8
								| #{labels.guarantee.text1 || ""}
								br
								br
								| #{labels.guarantee.text2 || ""}
						.part.part2.inl
							p.text7 #{labels.protection.title || ""}
							p.text8
								| #{labels.protection.text1 || ""}
								br
								br
								| #{labels.protection.text2 || ""}
		// FOOTER
		footer.main-footer
			.container
				.footer1
					.copy-wrap
						p.copy
							img(src='/img/footer-logo.png')
							br
							br
							| #{labels.address1 || ""}
							br
							| #{labels.address2 || ""}
							br
							| #{labels.address3 || ""}
							br
				.footer2
					.footer-inline
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/politika-konfidencialnosti/') #{labels.policy1 || ""}
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/otkaz-ot-otvetstvennosti/') #{labels.policy2 || ""}
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/soglasie-s-rassylkoj/') #{labels.policy3 || ""}
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/politika-vozvrata-denezhnyx-sredstv/') #{labels.policy4 || ""}
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/usloviya-oferty/') #{labels.policy5 || ""}
				.footer3
					p.social
						| #{labels.joinUs || ""}
						br.lg
						br
						a.icon-fb.icon-soc(href='https://www.facebook.com/GeniusMarketing.me/', target='_blank')
							i.fa.fa-facebook(aria-hidden='true')
						a.icon-vk.icon-soc(href='https://vk.com/geniusmarketing', target='_blank')
							i.fa.fa-vk(aria-hidden='true')
						a.icon-inst.icon-soc(href='https://www.instagram.com/geniusmarketingofficial/', target='_blank')
							i.fa.fa-instagram(aria-hidden='true')
						a.icon-yt.icon-soc(href='https://www.youtube.com/user/Olestimofeev', target='_blank')
							i.fa.fa-youtube(aria-hidden='true')
					p.text4
						span.ru +7 (495) 241 07 87
						|  (#{labels.russiaLbl})
					p.text4
						span.ru +38 (044) 237 13 18
						|  (#{labels.ukraineLbl})
				.footer-line
				p.bottom-text
					| #{labels.copyright1 || ""}
					br
					| #{labels.copyright2 || ""}
					a.mail(href='mailto:info@geniusmarketing.me') info@geniusmarketing.me
		// END FOOTER
		script.
			// Курс рубля к доллару
			var USDRateRUB = ("#{USDRateRUB}" && parseFloat("#{USDRateRUB}")) || 68;
			// Курс гривны к доллару
			var USDRateUAH = ("#{USDRateUAH}" && parseFloat("#{USDRateUAH}")) || 28;
			// Курс евро к доллару
			var USDRateEUR = ("#{USDRateEUR}" && parseFloat("#{USDRateEUR}")) || 0.89;
		// HIDDEN ELEMENTS (MODALS)
		#modal-video.modal-overlay
			.modal-content
				.close-button
					.one
					.two
				#video-popup


		include ../../../partials/client/popups/modal-monobank
		include ../../../partials/client/popups/modal-privat


		// END HIDDEN ELEMENTS (MODALS)
		script(src='/js/libs.min.js')
		script(src='/js/common.js')
		script.
			$("input.phone").intlTelInput(
				{
					utilsScript       : '/js/utils.js',
					defaultCountry    : 'auto',
					separateDialCode  : false,
					nationalMode      : false,
					preferredCountries: ['ua', 'ru', 'by', 'kz']
				});

		include ../../../partials/client/preloader.pug

script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js")
script.
	function payTinkoff () {
		var merchant = "#{merchantID || ''}";
		var sumDef = parseFloat("#{productPrice}");
		var sumUpd = parseFloat("#{productPrice}");
		var currDef = "#{currency.toUpperCase()}";
		var currUpd = "#{currency.toUpperCase()}";

		var USDRateUAH = parseFloat("#{USDRateUAH}");
		var USDRateEUR = parseFloat("#{USDRateEUR}");
		var USDRateRUB = parseFloat("#{USDRateRUB}");

		if (!merchant || (merchant === "null") || (merchant === "undefined") || (merchant === "")) {
			merchant = "#{merchantRUB}";
		}
		if (currDef === "USD") {
			currUpd = "RUB";
			sumUpd = (sumDef * USDRateRUB).toFixed(2);
		} else if (currDef === "EUR") {
			currUpd = "RUB";
			sumUpd = ((sumDef / USDRateEUR) * USDRateRUB).toFixed(2);
		} else if (currDef === "UAH") {
			currUpd = "RUB";
			sumUpd = ((sumDef / USDRateUAH) * USDRateRUB).toFixed(2);
		} else if (currDef === "RUB") {
			currUpd = "RUB";
			sumUpd = sumDef;
		}

		var data = {
			amount: sumUpd,
			currency: getParameterByName("currency") || "",
			items: [
				{
					name: getParameterByName("productName"),
					price: sumUpd,
					quantity: 1
				}
			],
			productID: getParameterByName("productID"),
			productName: getParameterByName("productName"),
			description: "Покупка продукта " + getParameterByName("productName"),
		};

		if ("#{salesOrderID}") {
			data.salesOrderID = "#{salesOrderID}";

			axios({
				method: "post",
				url: "/tinkoff/order",
				data: data
			}).then(function (response) {
				if (response && response.data && response.data.result) {

					console.log({
						sum: sumUpd,
						shopId: "dd44bc8c-fcf0-4ed0-88e3-d3b1efad2635",
						showcaseId: "df2220a8-2000-48fd-9e9e-4b439640bc1a",
						orderNumber: response.data.internal_order_id,
						webhookURL: document.location.origin + "/tinkoff/callback",
						successURL: document.location.origin + "/payment-success",
						failURL: document.location.origin + "/payment-failure",
						items: [
							{
								name: getParameterByName("productName"),
								price: sumUpd,
								quantity: 1
							}
						]
					});

					tinkoff.createDemo({
						sum: sumUpd,
						shopId: "dd44bc8c-fcf0-4ed0-88e3-d3b1efad2635",
						showcaseId: "df2220a8-2000-48fd-9e9e-4b439640bc1a",
						orderNumber: response.data.internal_order_id,
						webhookURL: document.location.origin + "/tinkoff/callback",
						successURL: document.location.origin + "/payment-success",
						failURL: document.location.origin + "/payment-failure",
						items: [
							{
								name: getParameterByName("productName"),
								price: sumUpd,
								quantity: 1
							}
						]
					}, { view: "self" });
				} else {
					alert("Ошибка при создании заказа");
				}
			});
		} else {
			var dealIDPay = getCookie("dealIDPay") || null;
			var contactID = getCookie("contactID") || null;

			var data2 = {
				"First_Name": "#{firstName}",
				"Email": "#{email}",
				"Phone": "#{phone}",
				"productName": "#{productName}",
				"productID": "#{productID}",
				"productPrice": "#{productPrice}",
				"currency": "#{currency.toUpperCase()}",
				"contactID": contactID,
				"dealID": dealIDPay
			};

			axios({
				method: "post",
				url: "/sales_order",
				data: data2
			})
				.then(function (response) {
					data.salesOrderID = response && response.data ? response.data.salesOrderID : null;

					axios({
						method: "post",
						url: "/tinkoff/order",
						data: data
					}).then(function (response) {
						if (response && response.data && response.data.result) {

							console.log({
								sum: sumUpd,
								shopId: "dd44bc8c-fcf0-4ed0-88e3-d3b1efad2635",
								showcaseId: "df2220a8-2000-48fd-9e9e-4b439640bc1a",
								orderNumber: response.data.internal_order_id,
								webhookURL: document.location.origin + "/tinkoff/callback",
								successURL: document.location.origin + "/payment-success",
								failURL: document.location.origin + "/payment-failure",
								items: [
									{
										name: getParameterByName("productName"),
										price: sumUpd,
										quantity: 1
									}
								]
							});

							tinkoff.createDemo({
								sum: sumUpd,
								shopId: "dd44bc8c-fcf0-4ed0-88e3-d3b1efad2635",
								showcaseId: "df2220a8-2000-48fd-9e9e-4b439640bc1a",
								orderNumber: response.data.internal_order_id,
								webhookURL: document.location.origin + "/tinkoff/callback",
								successURL: document.location.origin + "/payment-success",
								failURL: document.location.origin + "/payment-failure",
								items: [
									{
										name: getParameterByName("productName"),
										price: sumUpd,
										quantity: 1
									}
								]
							}, { view: "self" });
						} else {
							alert("Ошибка при создании заказа");
						}
					});
				});
		}
	}

	function payFondy() {
		var url = "/checkout/2/fondy/currencies?email=#{email}&firstName=#{firstName}&productName=#{productName}&productPrice=#{productPrice}&currency=#{currency.toUpperCase()}&merchantID=#{merchantID}&phone=#{phone}&productID=#{productID}";
		if ("#{convertationHide}" === "true") {
			url += "&convertationHide=true";
		}

		if ("#{successLink}") {
			url += "&successLink=#{successLink}";
		}

		if ("#{salesOrderID}") {
			url += "&salesOrderID=#{salesOrderID}";
		}

		if ("#{lang}") {
			url += "&lang=#{lang}";
		}

		window.location = url;
	}
	function payFrisbee() {
		var url = "/checkout/2/frisbee/currencies?email=#{email}&firstName=#{firstName}&productName=#{productName}&productPrice=#{productPrice}&currency=#{currency.toUpperCase()}&merchantID=#{merchantID}&phone=#{phone}&productID=#{productID}";
		if ("#{convertationHide}" === "true") {
			url += "&convertationHide=true";
		}

		if ("#{successLink}") {
			url += "&successLink=#{successLink}";
		}

		if ("#{salesOrderID}") {
			url += "&salesOrderID=#{salesOrderID}";
		}

		if ("#{lang}") {
			url += "&lang=#{lang}";
		}

		window.location = url;
	}

	function payPayPal() {
		$("#preloader").show();

		if ("#{salesOrderID}") {
			var data = {
				Email             : "#{email}",
				salesOrderID      : "#{salesOrderID}",
				productName       : "#{productName}",
				productPrice      : "#{productPrice}",
				currency          : "#{currency.toUpperCase()}",
				paymentDescription: "Оплата продукта \"#{productName}\"",
				redirectURL       : "#{redirectURL}" || null
			};

			axios({
				method: "post",
				// url   : "http://localhost:3001/paypal/payment",
				url   : "/paypal/payment",
				data  : data
			})
				.then(function (response) {
					$("#preloader").hide();

					if (response.data.result && response.data.link) {
						// console.log(response.data.link);
						window.location = response.data.link;
					} else if (response.data.error) {
						console.error(response.data.error);
					}
				});
		} else {
			var dealIDPay = getCookie("dealIDPay") || null;
			var contactID = getCookie("contactID") || null;

			var data2 = {
				"First_Name"  : "#{firstName}",
				"Email"       : "#{email}",
				"Phone"       : "#{phone}",
				"productName" : "#{productName}",
				"productID"   : "#{productID}",
				"productPrice": "#{productPrice}",
				"currency"    : "#{currency.toUpperCase()}",
				"contactID"   : contactID,
				"dealID"      : dealIDPay
			};

			axios({
				method: "post",
				url   : "/sales_order",
				data  : data2
			})
				.then(function (response) {
					var salesOrderID = response.data.salesOrderID;

					var data = {
						Email             : "#{email}",
						salesOrderID      : salesOrderID || null,
						productName       : "#{productName}",
						productPrice      : "#{productPrice}",
						currency          : "#{currency.toUpperCase()}",
						paymentDescription: "Оплата продукта \"#{productName}\"",
						redirectURL       : "#{redirectURL}" || null
					};

					axios({
						method: "post",
						// url   : "http://localhost:3001/paypal/payment",
						url   : "/paypal/payment",
						data  : data
					})
						.then(function (response) {
							$("#preloader").hide();

							if (response.data.result && response.data.link) {
								// console.log(response.data.link);
								window.location = response.data.link;
							} else if (response.data.error) {
								console.error(response.data.error);
							}
						});
				});
		}
	}

script.
	var header_image = 'bg1.jpg';
	var payment_title = '#{productName}';
	// var product_type = '';
	var mainPrice = "#{productPrice}";
	var currencySym = "$";
	var currency = "#{currency}";
	var subPrice1 = null;
	var subPrice1Curr = null;
	var subPrice2 = null;
	var subPrice2Curr = null;

	var UAHPrice;

	switch (currency.toLowerCase()) {
		case "usd":
			currencySym = "$";
			subPrice1 = Math.ceil(mainPrice * USDRateRUB);
			subPrice1Curr = "rub";
			subPrice2 = Math.ceil(mainPrice * USDRateUAH);
			subPrice2Curr = "uah";
			break;

		case "uah":
			currencySym = "₴";
			subPrice1 = Math.ceil((mainPrice / USDRateUAH) * USDRateRUB);
			subPrice1Curr = "rub";
			subPrice2 = Math.ceil(mainPrice / USDRateUAH);
			subPrice2Curr = "usd";
			break;

		case "eur":
			currencySym = "€";
			subPrice1 = Math.ceil((mainPrice / USDRateEUR) * USDRateRUB);
			subPrice1Curr = "rub";
			subPrice2 = Math.ceil((mainPrice / USDRateEUR) * USDRateUAH);
			subPrice2Curr = "uah";
			break;

		case "rub":
			currencySym = "₽";
			subPrice1 = Math.ceil((mainPrice / USDRateRUB) * USDRateUAH);
			subPrice1Curr = "uah";
			subPrice2 = Math.ceil(mainPrice / USDRateRUB);
			subPrice2Curr = "usd";
			break;
	}

	var tovar_id = 394979;
	var token_GR = 'b7qk';
	var CRM_id = 1203;
	// var success_url = 'https://geniusmarketing.me/syndicate/payment-startup-webinar/step1.php';
	if (step == '0') {
		$('.steps').addClass('zero');
		$('.step1text').fadeIn(0);
		$('.tostep1').addClass('disable_link');
	} else if (step == '1') {
		$('.steps').addClass('first');
		$('.price').removeClass('disapear');
		$('.product').removeClass('disapear');
	} else if (step == '2') {
		$('.steps').addClass('second');
		$('.price').removeClass('disapear');
		$('.product').removeClass('disapear');
	} else if (step == '3') {
		$('.steps').addClass('third');
		$('.success').fadeIn(0);
		$('.success').html('СПАСИБО!');
	} else if (step == '4') {
		$('.steps').addClass('third');
		$('.success').fadeIn(0);
		$('.success').html('ВАШ ЗАКАЗ ОПЛАЧЕН');
	}
	$('#checktoken').val(token_GR);
	$('.js_payment_title').html(payment_title);
	$('.js_dollar_price').html(mainPrice);
	$('#currencySym').html(currencySym);
	//if ("#/{landing}" === "true") {
	if ("#{convertationHide}" !== "true") {
		if (subPrice1 && subPrice1Curr) {
			switch (subPrice1Curr) {
				case "usd":
					$('.js_hrn_price').html(subPrice1 + " долл.");
					break;
				case "uah":
					$('.js_hrn_price').html(subPrice1 + " грн.");
					$('.js_hrn_price').addClass('ua-block hidden');
					UAHPrice = subPrice1;
					break;
				case "rub":
					$('.js_hrn_price').html(subPrice1 + " руб.");
					$('.js_hrn_price').addClass('ru-block hidden');
					break;
			}
		}

		if (subPrice2 && subPrice2Curr) {
			switch (subPrice2Curr) {
				case "usd":
					$('.js_rub_price').html(subPrice2 + " долл.");
					break;
				case "uah":
					$('.js_rub_price').html(subPrice2 + " грн.");
					$('.js_rub_price').addClass('ua-block hidden');
					UAHPrice = subPrice2;
					break;
				case "rub":
					$('.js_rub_price').html(subPrice2 + " руб.");
					$('.js_rub_price').addClass('ru-block hidden');
					break;
			}
		}
	}
	//}

	// if(rub_price > 15000){
	//   $('.links1 .link3').fadeOut(0);
	// }
	$('.js_tovar_id').val(tovar_id);
	$('.sec1').css('background-image', 'url(/img/' + header_image + ')');



	//-- monobank
	$('#showMonbankPopupBtn').click(function () {
		$('#modal-monobank').fadeIn(200);
	});

	$('#monobankUpdatePhoneBtn').click(function () {
		$(this).css('opacity', 0);
		$('#monobank_phone').removeAttr('disabled').focus();
	});

	$('#monobank_parts').on('change', function () {
		var parts = parseInt($(this).val());

		if (parts > 4) {
			$('#monobankPartsText').text(parts + " платежей");
		} else {
			$('#monobankPartsText').text(parts + " платежа");
		}

		var currency = getParameterByName("currency");
		if (currency.toUpperCase() === 'UAH') {
			$('#monobankPartsPrice').text(parseFloat(parseInt(mainPrice, 10) / parts).toFixed(2));
		} else {
			$('#monobankPartsPrice').text(parseFloat(UAHPrice / parts).toFixed(2));
		}
	});

	$(document).ready(function () {
		$("#monobank_name").val(getParameterByName("firstName") || "");
		$("#monobank_email").val(getParameterByName("email") || "");
		$("#monobank_phone").val('+' + getParameterByName("phone").trim() || "");

		var currency = getParameterByName("currency");
		if (currency.toUpperCase() === 'EUR' || currency.toUpperCase() === 'RUB') {
			document.getElementsByClassName('monobank-pay-btn')[0].style.display = "none";
		}

		if (currency.toUpperCase() === 'UAH') {
			$('#monobankPartsPrice').text(parseFloat(parseInt(mainPrice, 10) / 12).toFixed(2));
		} else {
			$('#monobankPartsPrice').text(parseFloat(UAHPrice / 12).toFixed(2));
		}
	});

	$('#monobank_form').submit(function (e) {
		e.preventDefault();

		$("#preloader").show();

		var data = {
			"name"       : document.getElementById("monobank_name").value,
			"email"      : document.getElementById("monobank_email").value,
			"phone"      : document.getElementById("monobank_phone").value.replace(/\s+/g, ''),
			"parts"      : document.getElementById("monobank_parts").value,
			"currency"   : getParameterByName("currency") || "",
			"grUnpaid"   : getParameterByName("grUnpaid") || "",
			"productName": getParameterByName("productName") || "",
			"productID"  : getParameterByName("productID") || "",
			"price"      : getParameterByName("productPrice") || ""
		};

		var phoneRegexp = new RegExp("\\+380\\d{9}\\b");
		if (phoneRegexp.test(data.phone)) {
			if ("#{salesOrderID}") {
				data.salesOrderID = "#{salesOrderID}";

				axios({
					method: "post",
					url: "/monobank/parts",
					data: data
				}).then(function (response) {
					setCookie("monobankCheckoutLink", window.location.href, 365);
					if (response && response.data && response.data.result && response.data.data) {
						setCookie("mono_order_id", response.data.order_id);
						window.location = "/monobank/process";
					} else {
						$("#preloader").hide();
						alert("Произошла неизвестная ошибка");
					}
				});
			} else {
				var dealIDPay = getCookie("dealIDPay") || null;
				var contactID = getCookie("contactID") || null;

				var data2 = {
					"First_Name": "#{firstName}",
					"Email": "#{email}",
					"Phone": "#{phone}",
					"productName": "#{productName}",
					"productID": "#{productID}",
					"productPrice": "#{productPrice}",
					"currency": "#{currency.toUpperCase()}",
					"contactID": contactID,
					"dealID": dealIDPay
				};

				axios({
					method: "post",
					url: "/sales_order",
					data: data2
				})
					.then(function (response) {
						data.salesOrderID = response && response.data ? response.data.salesOrderID : null;

						axios({
							method: "post",
							url: "/monobank/parts",
							data: data
						}).then(function (response) {
							setCookie("monobankCheckoutLink", window.location.href, 365);
							if (response && response.data && response.data.result && response.data.data) {
								setCookie("mono_order_id", response.data.order_id);
								window.location = "/monobank/process";
							} else {
								$("#preloader").hide();
								alert("Произошла неизвестная ошибка");
							}
						});
					});
			}
		} else {
			$("#preloader").hide();
			$('#monobank_phone').removeAttr('disabled').focus();
			$('#monobankUpdatePhoneBtn').css('opacity', 0);
			alert("Формат телефона должен быть +380XXXXXXXXX");
		}
	});



	//-- privat
	$('#showPrivatPopupBtn').click(function () {
		$('#modal-privat').fadeIn(200);
	});

	$('#privatUpdatePhoneBtn').click(function () {
		$(this).css('opacity', 0);
		$('#privat_phone').removeAttr('disabled').focus();
	});

	$('#privat_parts').on('change', function () {
		var parts = parseInt($(this).val());

		if (parts > 4) {
			$('#privatPartsText').text(parts + " платежей");
		} else {
			$('#privatPartsText').text(parts + " платежа");
		}

		var currency = getParameterByName("currency");
		if (currency.toUpperCase() === 'UAH') {
			$('#privatPartsPrice').text(parseFloat(parseInt(mainPrice, 10) / parts).toFixed(2));
		} else {
			$('#privatPartsPrice').text(parseFloat(UAHPrice / parts).toFixed(2));
		}
	});

	$(document).ready(function () {
		$("#privat_name").val(getParameterByName("firstName") || "");
		$("#privat_email").val(getParameterByName("email") || "");
		$("#privat_phone").val('+' + getParameterByName("phone").trim() || "");

		var currency = getParameterByName("currency");
		if (currency.toUpperCase() === 'UAH') {
			$('#privatPartsPrice').text(parseFloat(parseInt(mainPrice, 10) / 12).toFixed(2));
		} else {
			$('#privatPartsPrice').text(parseFloat(UAHPrice / 12).toFixed(2));
		}
	});

	$('#privat_form').submit(function (e) {
		e.preventDefault();

		$("#preloader").show();

		var data = {
			"name": document.getElementById("privat_name").value,
			"email": document.getElementById("privat_email").value,
			"phone": document.getElementById("privat_phone").value.replace(/\s+/g, ''),
			"parts": document.getElementById("privat_parts").value,
			"currency": getParameterByName("currency") || "",
			"grUnpaid": getParameterByName("grUnpaid") || "",
			"productName": getParameterByName("productName") || "",
			"productID": getParameterByName("productID") || "",
			"price": UAHPrice || ""
		};

		var phoneRegexp = new RegExp("\\+380\\d{9}\\b");
		if (phoneRegexp.test(data.phone)) {
			if ("#{salesOrderID}") {
				data.salesOrderID = "#{salesOrderID}";

				axios({
					method: "post",
					url: "/privatbank/payment",
					data: data
				}).then(function (response) {
					if (response.data && response.data.result) {
						window.location = `https://payparts2.privatbank.ua/ipp/v2/payment?token=${response.data.token}`;
					} else {
						console.error("An error has occurred");
					}
				});
			} else {
				var dealIDPay = getCookie("dealIDPay") || null;
				var contactID = getCookie("contactID") || null;

				var data2 = {
					"First_Name": "#{firstName}",
					"Email": "#{email}",
					"Phone": "#{phone}",
					"productName": "#{productName}",
					"productID": "#{productID}",
					"productPrice": "#{productPrice}",
					"currency": "#{currency.toUpperCase()}",
					"contactID": contactID,
					"dealID": dealIDPay
				};

				axios({
					method: "post",
					url: "/sales_order",
					data: data2
				})
					.then(function (response) {
						data.salesOrderID = response && response.data ? response.data.salesOrderID : null;

						axios({
							method: "post",
							url: "/privatbank/payment",
							data: data
						}).then(function (response) {
							if (response.data && response.data.result) {
								window.location = `https://payparts2.privatbank.ua/ipp/v2/payment?token=${response.data.token}`;
							} else {
								console.error("An error has occurred");
							}
						});
					});
			}
		} else {
			$("#preloader").hide();
			$('#privat_phone').removeAttr('disabled').focus();
			$('#privatUpdatePhoneBtn').css('opacity', 0);
			alert("Формат телефона должен быть +380XXXXXXXXX");
		}
	});

	function getParameterByName(name) {
		name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
		var regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
		var results = regex.exec(location.search);
		return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}


script(type='text/javascript').
	(function (d, w, s) {
		var widgetId = '22519',
			gcw = d.createElement(s);
		gcw.type = 'text/javascript';
		gcw.async = true;
		gcw.src = '//my.binotel.ua/getcall/widgets/' + widgetId + '.js';
		var sn = d.getElementsByTagName(s)[0];
		sn.parentNode.insertBefore(gcw, sn);
	})(document, window, 'script');

script#ss-gadget(src='https://customer.smartsender.eu/js/client/gd.min.js?v2.0.0' data-target='FJPXlTvX' data-domain='myminismm')


script.
	$("#monobank_phone, #privat_phone").intlTelInput({
		utilsScript       : '/js/utils.js',
		defaultCountry    : 'auto',
		separateDialCode  : false,
		nationalMode      : false,
		preferredCountries: ['ua', 'ru', 'by', 'kz']
	});


script.
	var country = "";

	function getGeolocationData(callback) {
		var requestUrl = "https://ipapi.co/json";

		$.ajax({
			url    : requestUrl,
			type   : 'GET',
			success: function (json) {
				console.log("json", json);
				country = json.country_code;

				callback();
			},
			error  : function (err) {
				console.log("Request failed, error= " + err);
				callback();
			}
		});
	}

	getGeolocationData(function() {
		if (country.toLowerCase() === "ru") {
			$('.ru-block').removeClass('hidden');
		} else if (country.toLowerCase() === "ua") {
			$('.ua-block').removeClass('hidden');
		}
	});
