doctype html
html(lang='ru-RU')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Оплата участия
		// SEO
		meta(property='og:title', content='Оплата участия')
		meta(property='og:description', content='Оплата участия')
		meta(property='og:image', content='https://geniusmarketing.me/pic.png')
		meta(property='og:url', content='https://geniusmarketing.me/')
		meta(property='fb:admins', content='1510615147')
		meta(property='fb:app_id', content='473200492729081')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='stylesheet', href='/css/checkout/step1/libs.min.css')
		link(rel='stylesheet', href='/css/checkout/step1/main.min.css')
		link(rel='stylesheet', href='/css/checkout/step1/edit.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
	body
		// SECTION 1
		a.tostep1(onclick="javascript:void(0);")
			section.sec1
				.container
					p.title.js_payment_title
					.steps
						.step.step1.inl
							p.text
								span.circle
								|  Шаг 1
							p.text1 Введите Ваши данные
						.arrow.inl
						.step.step2.inl
							p.text
								span.circle
								|  Шаг 2
							p.text1 Выберите способ оплаты
						.arrow.inl
						.step.step3.inl
							p.text
								span.circle
								|  Шаг 3
							p.text1 Завершение оплаты
		section.sec2
			.container
				.block
					.block-header
						.product.inl.disapear
							p.text
								span.js_payment_title
								br
								span.js_product_type.product_type
						.price.inl.disapear
							.text2.inl К оплате:
							p#dollar_price.inl
								span.js_dollar_price
								span.dollar $
							.inl
								p#rub_price.text3
									span.js_rub_price
									span.val руб.
								p#hrn_price.text3
									span.js_hrn_price
									span.val грн.
						p.step1text
							| Чтобы забронировать участие в "#{page.name}
							span.js_payment_title
							| ",&nbsp;
							br
							| введите свои данные в форму ниже и нажмите "Забронировать".
						p.success
					p.text4 ВВЕДИТЕ ВАШИ ДАННЫЕ:
					a.backlink
					.links.links4
						form#form_1.mfrm.m_frm
							.inl.formpart
								p.namelabel Ваше имя и фамилия
								input#name.name.f1_name(name='name', type='text', placeholder='Ваше полное имя', required=true)
							.inl.formpart
								p.namelabel Ваш e-mail
								input#email.email.f1_email(name='email', type='text', placeholder='Ваш основной e-mail', required=true)
							.inl.formpart
								p.namelabel Ваш телефон
								input#phone.NumGroup.phone(type='text', name='phone', required=true value="+380")
							input#last1.last1(type='hidden', name='custom_telephone')
							input#checktoken(type='hidden', name='campaign_token', value='')
							input#checkrespo(type='hidden', name='thankyou_url')
							input#emailexist(type='hidden', name='email_exists_url')
							input(type='hidden', name='forward_data', value='')
							input(type='hidden', name='start_day', value='0')
							input.subm1.button2.hvr-grow(type='submit', value='Забронировать →')
							.check
								input#checkbox(type='checkbox', checked='checked')
								label.inl.active(for='checkbox') Я согласен с условиями
								a.inl.oferta(target='_blank', href='https://geniusmarketing.me/usloviya-oferty/') оферты
					script.
						var step = '0';
						$('.tostep1').attr("disabled", "disabled").on("click", function () {
							return false;
						});
					.text5!= "Есть вопросы по оплате? Посмотрите <a href='#modal-video' data-video='youtube' data-srcvideo='Ldo-oggnt5c'>видеоинструкцию</a> или позвоните нам:"
						br
						| тел. <b>+7 495 241 07 87</b> (Россия), <b>+38 044 237 13 18</b> (Украина)
					.info
						.part.part1.inl
							p.text7 Гарантия возврата средств
							p.text8
								| Genius Marketing гарантирует возврат средств за приобретенный цифровой продукт и/или услугу по требованию клиента.
								br
								br
								| Срок гарантийного периода регламентируется договором об оказании услуг (офертой).
						.part.part2.inl
							p.text7 100% защита персональных данных
							p.text8
								| Мы ни при каких условиях не передаём Вашу личную информацию третьим лицам.
								br
								br
								| Безопасность всех платежей гарантируется сертификатами THAWTE и PCI.
		// FOOTER
		footer.main-footer
			.container
				.footer1
					.copy-wrap
						p.copy
							img(src='/img/footer-logo.png')
							br
							br
							| ТОВ "КОНСАЛТИНГ СИНДИКАТ"
							br
							| ЕГРПОУ: 42182763, Адрес: 01033, г. Киев,
							br
							| ул. Паньковская, 14
							br
				.footer2
					.footer-inline
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/politika-konfidencialnosti/') Политика конфиденциальности
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/otkaz-ot-otvetstvennosti/') Отказ от ответственности
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/soglasie-s-rassylkoj/') Согласие с рассылкой
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/politika-vozvrata-denezhnyx-sredstv/') Политика возврата
						a.modal-btn(target='_blank', href='https://geniusmarketing.me/usloviya-oferty/') Публичный договор
				.footer3
					p.social
						| Присоединяйтесь к нам в социальных сетях:
						br.lg
						br
						a.icon-fb.icon-soc(href='https://www.facebook.com/GeniusMarketing.me/', target='_blank')
							i.fa.fa-facebook(aria-hidden='true')
						a.icon-vk.icon-soc(href='https://vk.com/geniusmarketing', target='_blank')
							i.fa.fa-vk(aria-hidden='true')
						a.icon-inst.icon-soc(href='https://www.instagram.com/geniusmarketingofficial/', target='_blank')
							i.fa.fa-instagram(aria-hidden='true')
						a.icon-yt.icon-soc(href='https://www.youtube.com/user/Olestimofeev', target='_blank')
							i.fa.fa-youtube(aria-hidden='true')
					p.text4
						span.ru +7 (495) 241 07 87
						|  (Россия)
					p.text4
						span.ru +38 (044) 237 13 18
						|  (Украина)
				.footer-line
				p.bottom-text
					| © Олесь Тимофеев & GeniusMarketing. Все права защищены. Любое копирование материалов разрешено
					br
					|  только с согласия правообладателей. По всем вопросам обращайтесь:
					a.mail(href='mailto:info@geniusmarketing.me') info@geniusmarketing.me

		include ../../../partials/client/preloader.pug

		// END FOOTER
		script.
			// Курс рубля к доллару
			var rub_cur = 68;
			// Курс гривны к доллару
			var uah_cur = 28;
		// HIDDEN ELEMENTS (MODALS)
		#modal-video.modal-overlay
			.modal-content
				.close-button
					.one
					.two
				#video-popup
		// END HIDDEN ELEMENTS (MODALS)
		//script(src='/js/libs.min.js')
		//script(src='/js/common.js')
		//script.
			$("input.phone").intlTelInput(
				{
					utilsScript       : '/js/utils.js',
					defaultCountry    : 'auto',
					separateDialCode  : false,
					nationalMode      : false,
					preferredCountries: ['ua', 'ru', 'by', 'kz']
				});

script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js")
script(src='/js/jquery.validate.min.js')
script(src='/js/validate_messages_ru.min.js')
script(src='/js/jquery.maskedinput.min.js')

script.
	$(document).ready(function () {
		$("#name").val(getCookie("name") || "");
		$("#email").val(getCookie("email") || "");
		// $("#phone").val(getCookie("phone") || "");

		$.mask.definitions['~'] = '[0-9+]';
		$.mask.definitions['9'] = null;

		$("#phone").mask('+380?~~~~~~~~~', {
			"placeholder": "",
			"autoclear"  : false
		});

		$('#form_1').validate({
			rules: {
				name : {
					required: true
				},
				email: {
					required: true
				},
				phone: {
					minlength: 13,
					required   : true
				}
			},
			submitHandler: function (form) {
				$("#preloader").show();

				var phone = document.getElementById("phone").value;
				var email = document.getElementById("email").value;
				var name = document.getElementById("name").value;

				axios({
					method: "post",
					url   : "/monobank/#{page.page_id}/order",
					data  : {
						"name" : name,
						"email": email,
						"phone": phone
					}
				})
								.then(function (response) {
									if (response && response.data && response.data.result && response.data.data) {
										console.log(response);
										window.location = "/monobank/#{page.page_id}/success";

										//confirm order
										// axios({
										// 	method: "post",
										// 	url   : "/monobank/#/{page.page_id}/confirm",
										// 	data  : {
										// 		"orderID": response.data.data.order_id
										// 	}
										// })
										// 	.then(function (response) {
										// 		console.log(response);
										// 		window.location = "/monobank/#/{page.page_id}/success";
										// 	});
									} else {
										alert("Произошла неизвестная ошибка");
									}
								});

				return false;  // block the default submit action
			}
		});
	});

	function getCookie(cname) {
		var name = cname + "=";
		var ca = document.cookie.split(';');
		for (var i = 0; i < ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return undefined;
	}

	// $(document).on('keydown', function (e) {
	// 	var $phone = $('#phone');
	// 	if (e.keyCode === 8 && $phone.is(":focus") && $phone.val().length < 5) {
	// 		e.preventDefault();
	// 	}
	//
	// 	if ($phone.is(":focus") && !(((e.keyCode >= 48) && (e.keyCode <= 57)) || (e.keyCode === 8))) {
	// 		e.preventDefault();
	// 	}
	// });

	document.getElementById('phone').onpaste = function (e) {
		e.preventDefault();
	}

script.
	var header_image = 'bg1.jpg';
	var payment_title = "#{productName}";
	var dollar_price = "#{productPrice}";
	if (Math.ceil(dollar_price * uah_cur) < 1000) {
		var hrn_price = Math.ceil(dollar_price * uah_cur);
	} else if ((Math.ceil(dollar_price * uah_cur) % 1000) < 10) {
		var hrn_price = Math.floor(Math.ceil(dollar_price * uah_cur) / 1000) + '&nbsp;00' + Math.ceil(dollar_price * uah_cur) % 1000;
	} else if ((Math.ceil(dollar_price * uah_cur) % 1000) < 100) {
		var hrn_price = Math.floor(Math.ceil(dollar_price * uah_cur) / 1000) + '&nbsp;0' + Math.ceil(dollar_price * uah_cur) % 1000;
	} else {
		var hrn_price = Math.floor(Math.ceil(dollar_price * uah_cur) / 1000) + '&nbsp;' + Math.ceil(dollar_price * uah_cur) % 1000;
	}
	if (Math.ceil(dollar_price * rub_cur) < 1000) {
		var rub_price = Math.ceil(dollar_price * rub_cur);
	} else if ((Math.ceil(dollar_price * rub_cur) % 1000) < 10) {
		var rub_price = Math.floor(Math.ceil(dollar_price * rub_cur) / 1000) + '&nbsp;00' + Math.ceil(dollar_price * rub_cur) % 1000;
	} else if ((Math.ceil(dollar_price * rub_cur) % 1000) < 100) {
		var rub_price = Math.floor(Math.ceil(dollar_price * rub_cur) / 1000) + '&nbsp;0' + Math.ceil(dollar_price * rub_cur) % 1000;
	} else {
		var rub_price = Math.floor(Math.ceil(dollar_price * rub_cur) / 1000) + '&nbsp;' + Math.ceil(dollar_price * rub_cur) % 1000;
	}
	var tovar_id = 394979;
	var token_GR = 'b7qk';
	var CRM_id = 1203;
	// var success_url = 'https://geniusmarketing.me/syndicate/payment-startup-webinar/step1.php';
	if (step == '0') {
		$('.steps').addClass('zero');
		$('.step1text').fadeIn(0);
		$('.tostep1').addClass('disable_link');
	} else if (step == '1') {
		$('.steps').addClass('first');
		$('.price').removeClass('disapear');
		$('.product').removeClass('disapear');
	} else if (step == '2') {
		$('.steps').addClass('second');
		$('.price').removeClass('disapear');
		$('.product').removeClass('disapear');
	} else if (step == '3') {
		$('.steps').addClass('third');
		$('.success').fadeIn(0);
		$('.success').html('СПАСИБО!');
	} else if (step == '4') {
		$('.steps').addClass('third');
		$('.success').fadeIn(0);
		$('.success').html('ВАШ ЗАКАЗ ОПЛАЧЕН');
	}
	$('#checktoken').val(token_GR);
	// $('#checkrespo').val(success_url);
	// $('#emailexist').val(success_url);
	// $('#form_1').attr('onsubmit', 'return validate_with_exportCRM(form_1,' + CRM_id + ');');
	// $('#form_1').attr('onsubmit','return validate(form_1,' + CRM_id + ');');
	$('.js_payment_title').html(payment_title);
	// $('.js_product_type').html(product_type);
	$('.js_dollar_price').html(dollar_price);
	$('.js_hrn_price').html(hrn_price);
	$('.js_rub_price').html(rub_price);
	// if(rub_price > 15000){
	//   $('.links1 .link3').fadeOut(0);
	// }
	$('.js_tovar_id').val(tovar_id);
	$('.sec1').css('background-image', 'url(/img/' + header_image + ')');


script(type='text/javascript').
	(function (d, w, s) {
		var widgetId = '22519',
						gcw = d.createElement(s);
		gcw.type = 'text/javascript';
		gcw.async = true;
		gcw.src = '//my.binotel.ua/getcall/widgets/' + widgetId + '.js';
		var sn = d.getElementsByTagName(s)[0];
		sn.parentNode.insertBefore(gcw, sn);
	})(document, window, 'script');
//script(type='text/javascript').
//	(function () {
//		var widget_id = 'OkTveMoYQF';
//		var d = document;
//		var w = window;
//
//		function l() {
//			var s = document.createElement('script');
//			s.type = 'text/javascript';
//			s.async = true;
//			s.src = '//code.jivosite.com/script/widget/' + widget_id;
//			var ss = document.getElementsByTagName('script')[0];
//			ss.parentNode.insertBefore(s, ss);
//		}
//
//		if (d.readyState == 'complete') {
//			l();
//		}
//		else {
//			if (w.attachEvent) {
//				w.attachEvent('onload', l);
//			}
//			else {
//				w.addEventListener('load', l, false);
//			}
//		}
//	})();
script#ss-gadget(src='https://customer.smartsender.eu/js/client/gd.min.js?v2.0.0' data-target='FJPXlTvX' data-domain='myminismm')
