mixin footer_contacts
    .main-footer-contacts
        p.footer-subtitle.main-footer-contacts__title #{labels.contacts || "Контакты"}
        p.footer-text.main-footer-contacts__text
            //- | Украина, Киев, Площадь Независимости, 2,
            //- br
            //- | Spaces Maidan Plaza, 02000
            //- br
            //- br
            //- a.footer-text.main-footer-contacts__text-link(href="tel:+38 044 237 13 38") 
            //-     svg.main-footer-contacts__text-link-icon(width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
            //-         path(d='M10.1648 10.74L11.2848 9.62002C11.4357 9.47104 11.6265 9.36906 11.8342 9.32646C12.0419 9.28385 12.2575 9.30246 12.4548 9.38002L13.8198 9.92502C14.0192 10.006 14.1902 10.1441 14.3112 10.3221C14.4322 10.5 14.4979 10.7098 14.4998 10.925V13.425C14.4987 13.5714 14.4679 13.7161 14.4094 13.8502C14.3508 13.9844 14.2657 14.1054 14.1592 14.2058C14.0527 14.3062 13.927 14.3841 13.7896 14.4346C13.6522 14.4852 13.506 14.5074 13.3598 14.5C3.79482 13.905 1.86482 5.80502 1.49982 2.70502C1.48288 2.55279 1.49836 2.39869 1.54525 2.25288C1.59213 2.10706 1.66936 1.97282 1.77186 1.85899C1.87435 1.74516 1.99978 1.65432 2.1399 1.59245C2.28002 1.53058 2.43165 1.49908 2.58482 1.50002H4.99982C5.21533 1.50066 5.42571 1.56575 5.60392 1.68694C5.78213 1.80812 5.92001 1.97984 5.99982 2.18002L6.54482 3.54502C6.62495 3.74155 6.64539 3.95734 6.6036 4.16543C6.5618 4.37351 6.45962 4.56467 6.30982 4.71502L5.18982 5.83502C5.18982 5.83502 5.83482 10.2 10.1648 10.74Z' fill='#C16548')
            //-     | +38 044 237 13 38
            //- br
            //- a.footer-text.main-footer-contacts__text-link(href="tel:+38 093 170 00 64") 
            //-     svg.main-footer-contacts__text-link-icon(width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
            //-         path(d='M10.1648 10.74L11.2848 9.62002C11.4357 9.47104 11.6265 9.36906 11.8342 9.32646C12.0419 9.28385 12.2575 9.30246 12.4548 9.38002L13.8198 9.92502C14.0192 10.006 14.1902 10.1441 14.3112 10.3221C14.4322 10.5 14.4979 10.7098 14.4998 10.925V13.425C14.4987 13.5714 14.4679 13.7161 14.4094 13.8502C14.3508 13.9844 14.2657 14.1054 14.1592 14.2058C14.0527 14.3062 13.927 14.3841 13.7896 14.4346C13.6522 14.4852 13.506 14.5074 13.3598 14.5C3.79482 13.905 1.86482 5.80502 1.49982 2.70502C1.48288 2.55279 1.49836 2.39869 1.54525 2.25288C1.59213 2.10706 1.66936 1.97282 1.77186 1.85899C1.87435 1.74516 1.99978 1.65432 2.1399 1.59245C2.28002 1.53058 2.43165 1.49908 2.58482 1.50002H4.99982C5.21533 1.50066 5.42571 1.56575 5.60392 1.68694C5.78213 1.80812 5.92001 1.97984 5.99982 2.18002L6.54482 3.54502C6.62495 3.74155 6.64539 3.95734 6.6036 4.16543C6.5618 4.37351 6.45962 4.56467 6.30982 4.71502L5.18982 5.83502C5.18982 5.83502 5.83482 10.2 10.1648 10.74Z' fill='#C16548')
            //-     | +38 093 170 00 64
            //- br
            //- a.footer-text.main-footer-contacts__text-link(href="tel:0 800 500 502") 
            //-     svg.main-footer-contacts__text-link-icon(width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
            //-         path(d='M10.1648 10.74L11.2848 9.62002C11.4357 9.47104 11.6265 9.36906 11.8342 9.32646C12.0419 9.28385 12.2575 9.30246 12.4548 9.38002L13.8198 9.92502C14.0192 10.006 14.1902 10.1441 14.3112 10.3221C14.4322 10.5 14.4979 10.7098 14.4998 10.925V13.425C14.4987 13.5714 14.4679 13.7161 14.4094 13.8502C14.3508 13.9844 14.2657 14.1054 14.1592 14.2058C14.0527 14.3062 13.927 14.3841 13.7896 14.4346C13.6522 14.4852 13.506 14.5074 13.3598 14.5C3.79482 13.905 1.86482 5.80502 1.49982 2.70502C1.48288 2.55279 1.49836 2.39869 1.54525 2.25288C1.59213 2.10706 1.66936 1.97282 1.77186 1.85899C1.87435 1.74516 1.99978 1.65432 2.1399 1.59245C2.28002 1.53058 2.43165 1.49908 2.58482 1.50002H4.99982C5.21533 1.50066 5.42571 1.56575 5.60392 1.68694C5.78213 1.80812 5.92001 1.97984 5.99982 2.18002L6.54482 3.54502C6.62495 3.74155 6.64539 3.95734 6.6036 4.16543C6.5618 4.37351 6.45962 4.56467 6.30982 4.71502L5.18982 5.83502C5.18982 5.83502 5.83482 10.2 10.1648 10.74Z' fill='#C16548')
            //-     | 0 800 500 502
            //-     span &nbsp;(#{labels.phoneFree || "Бесплатно по Украине"}) 
            br
            a.footer-text.main-footer-contacts__text-link(href="https://t.me/genius_support_bot") 
                svg.main-footer-contacts__text-link-icon(width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M13.4156 2.125C13.2423 2.13265 13.0807 2.18315 12.9385 2.24063C12.8053 2.29421 12.2964 2.51249 11.4948 2.85625C10.6925 3.20032 9.63013 3.65642 8.49688 4.14375C6.23039 5.11842 3.68225 6.21556 2.37709 6.77709C2.32801 6.79819 2.15676 6.8529 1.97501 6.99479C1.79325 7.13669 1.60001 7.43071 1.60001 7.75834C1.60001 8.02252 1.72591 8.28497 1.88438 8.44167C2.04285 8.59837 2.21054 8.67577 2.35417 8.73438C2.87533 8.94702 4.49166 9.60846 4.79688 9.73334C4.9043 10.0624 5.48933 11.852 5.62501 12.2906C5.71444 12.5801 5.79958 12.7613 5.91042 12.9052C5.96584 12.9771 6.03027 13.0402 6.10834 13.0896C6.13954 13.1093 6.17376 13.1245 6.20834 13.1385L6.21042 13.1396C6.21839 13.1428 6.22526 13.1482 6.23334 13.151C6.24858 13.1564 6.25878 13.157 6.27917 13.1615C6.36041 13.1877 6.44243 13.2042 6.51563 13.2042C6.82772 13.2042 7.01876 13.0323 7.01876 13.0323L7.03021 13.024L8.63542 11.6354L10.5823 13.4771C10.6097 13.5158 10.8654 13.8667 11.4292 13.8667C11.7639 13.8667 12.0295 13.6987 12.2 13.5198C12.3705 13.3409 12.4767 13.153 12.5219 12.9167V12.9156C12.5641 12.6923 14.3583 3.48125 14.3583 3.48125L14.3552 3.49375C14.4077 3.25401 14.4215 3.03074 14.3635 2.81042C14.3056 2.59009 14.1529 2.37914 13.9635 2.26563C13.7742 2.15214 13.589 2.11735 13.4156 2.125ZM13.3156 3.23959C13.3131 3.25515 13.3175 3.24732 13.3135 3.26563L13.3125 3.27188L13.3115 3.27813C13.3115 3.27813 11.5395 12.3714 11.474 12.7177C11.4788 12.6916 11.4568 12.7436 11.4344 12.775C11.4026 12.7531 11.3375 12.725 11.3375 12.725L11.3271 12.7135L8.66771 10.1979L6.78751 11.8229L7.34688 9.58334C7.34688 9.58334 10.8435 5.96379 11.0542 5.75313C11.2238 5.58459 11.2594 5.52584 11.2594 5.46771C11.2594 5.38984 11.2188 5.33334 11.1281 5.33334C11.0465 5.33334 10.9368 5.41267 10.8781 5.45C10.1138 5.93723 6.75831 7.89288 5.25417 8.76771C5.01514 8.66989 3.35449 7.99012 2.79167 7.76042C2.79593 7.75855 2.79453 7.75921 2.79896 7.75729C4.10447 7.19562 6.65154 6.09849 8.91771 5.12396C10.0508 4.63669 11.114 4.18025 11.9156 3.83646C12.705 3.49797 13.2534 3.26501 13.3156 3.23959Z' fill='#C16548')
                | @genius_support_bot
            br
            a.footer-text.main-footer-contacts__text-link(href="mailto:info@genius.space") 
                svg.main-footer-contacts__text-link-icon(width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M15 13.5H13.5V6.9375L9 9.75L4.5 6.9375V13.5H3V4.5H3.9L9 7.6875L14.1 4.5H15V13.5ZM15 3H3C2.1675 3 1.5 3.6675 1.5 4.5V13.5C1.5 13.8978 1.65804 14.2794 1.93934 14.5607C2.22064 14.842 2.60218 15 3 15H15C15.3978 15 15.7794 14.842 16.0607 14.5607C16.342 14.2794 16.5 13.8978 16.5 13.5V4.5C16.5 4.10218 16.342 3.72064 16.0607 3.43934C15.7794 3.15804 15.3978 3 15 3Z' fill='#C16548')
                | info@genius.space

footer.main-footer
    .container
        .main-footer-top
            .main-footer-info
                a(href="/").logo.logo--white.main-footer-info__logo
                p.main-footer-info__text 
                    | #{labels.address1 || "ТОВ \"КОНСАЛТИНГ СИНДИКАТ\""}
                    br
                    | #{labels.address2 || "ЕГРПОУ: 42182763, Адрес: 01033, г. Киев,"}
                    br
                    | #{labels.address3 || "ул. Паньковская, 14"}
                .main-footer-socials
                    //- a(href="#").main-footer-social
                    //-     img(src="/img/client-new/common/socials/vk.svg").main-footer-social__icon
                    a(target="_blank" href="https://facebook.com/geniusmarketingme").main-footer-social
                        img(src="/img/client-new/common/socials/fb.svg").main-footer-social__icon
                    a(target="_blank" href="https://www.youtube.com/user/Olestimofeev").main-footer-social
                        img(src="/img/client-new/common/socials/yt.svg").main-footer-social__icon
                    a(target="_blank" href="https://t.me/genius_space").main-footer-social
                        img(src="/img/client-new/common/socials/tg.svg").main-footer-social__icon
                    a(target="_blank" href="https://www.instagram.com/geniusmarketingofficial/").main-footer-social
                        img(src="/img/client-new/common/socials/in.svg").main-footer-social__icon
            .main-footer-menu-layout
                .main-footer-menu-block
                    p.footer-subtitle.main-footer-menu-title #{labels.footerMenuTitle1 || "О Genius.Space"}
                    .main-footer-menu
                        a(target="_blank" href="https://genius.space/").main-footer-menu__link #{labels.footerLink1 || "Главная"}
                        a(target="_blank" href="https://genius.space/blizhajshie-meropriyatiya/").main-footer-menu__link #{labels.footerLink2 || "Ближайшие  мероприятия"}
                        a(target="_blank" href="https://genius.space/lab/").main-footer-menu__link #{labels.footerLink3 || "Полезные образовательные материалы"}
                        a(target="_blank" href="https://genius.space/nashi-programmy-obucheniya/").main-footer-menu__link #{labels.footerLink4 || "Наши программы обучения"}
                        a(target="_blank" href="https://genius.space/otzyvy/").main-footer-menu__link #{labels.footerLink5 || "Отзывы"}
                .main-footer-menu-block
                    p.footer-subtitle.main-footer-menu-title &nbsp;
                    .main-footer-menu
                        a(target="_blank" href="https://genius.space/o-nas/").main-footer-menu__link #{labels.footerLink6 || "О нас"}
                        a(target="_blank" href="https://genius.space/dlya-biznesa/").main-footer-menu__link #{labels.footerLink7 || "Для бизнеса"}
                        a(target="_blank" href="https://genius.space/sitemap_index.xml").main-footer-menu__link #{labels.footerLink8 || "Карта сайта"}
                        a(target="_blank" href="https://events.genius.space/logo/").main-footer-menu__link #{labels.footerLink9 || "Логотипы"}
                        a(target="_blank" href="https://events.genius.space/free").main-footer-menu__link #{labels.footerLink10 || "Бесплатные курсы"}
                //- .main-footer-menu-block.main-footer-menu-block--mobile
                //-     +footer_contacts
            .main-footer-contacts-desktop
                +footer_contacts

        .main-footer-bottom
            p.main-footer-bottom__text © Genius.Space #{labels.copyright3 || "Все права защищены."}
            .main-footer-bottom-links 
                a(target="_blank" href="https://policies.genius.space/policies#pol1_title").main-footer-bottom-links__item #{labels.copyrightLink1 || "Условия оказания услуг"}
                a(target="_blank" href="https://policies.genius.space/policies#pol2_title").main-footer-bottom-links__item #{labels.copyrightLink2 || "Политика конфиденциальности"}
                a(target="_blank" href="https://policies.genius.space/policies#pol1_11").main-footer-bottom-links__item #{labels.copyrightLink3 || "Условия возврата"}
                a(target="_blank" href="https://policies.genius.space/policies#pol1_8").main-footer-bottom-links__item #{labels.copyrightLink4 || "Условия предзаказа услуг"}
                a(target="_blank" href="https://policies.genius.space/policies#pol1_24").main-footer-bottom-links__item #{labels.copyrightLink5 || "Поставщики услуг"}
                a(target="_blank" href="https://policies.genius.space/policies#pol3_title").main-footer-bottom-links__item #{labels.copyrightLink6 || "Предупреждение"}

include ../client/preloader.pug

script(src='/js/libs.min.js')
script(src='/js/common.js')
script(src='/js/client-new.js')

script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js")
script#ss-gadget(src='https://customer.smartsender.eu/js/client/gd.min.js?v2.0.0' data-target='cBXDf1wG' data-domain='gspace' type='a6e6fa5e4858e1490529d982-text/javascript')