.installment-modal#installmentModalMonobank
    .installment-modal__close
    .installment-modal__inner
        .installment-modal__logo
            img(src="/img/icons/pay/monobank.svg" alt="monobank")
        p.installment-modal__title #{labels.installmentTitle || ""} <br /> <span class="color-orange">Monobank</span>
        p.installment-modal__subtitle <span id="monobankPartsText">6</span> #{labels.installmentParts || ""}:
        form#monobank_form.form.installment-modal-form
            .formgroup
                select#monobank_parts(name="parts")
                    //- option(value=12) 12 #{labels.monthes || ""}
                    //- option(value=11) 11 #{labels.monthes || ""}
                    //- option(value=10) 10 #{labels.monthes || ""}
                    //- option(value=9) 9 #{labels.monthes || ""}
                    //- option(value=8) 8 #{labels.monthes || ""}
                    //- option(value=7) 7 #{labels.monthes || ""}
                    option(value=6 selected) 6 #{labels.monthes || ""}
                    option(value=5) 5 #{labels.monthes || ""}
                    option(value=4) 4 #{labels.monthes || ""}
                    option(value=3) 3 #{labels.monthes || ""}
            .installment-modal-sum
                .installment-modal-sum__title #{labels.installmentSum || ""}:
                .installment-modal-sum__value <span id="monobankPartsPrice">-</span> грн <span class="installment-modal-sum__value-period">/ міс.</span>

            .formgroup
                label #{labels.yourPhoneLbl || ""}
                input#monobank_phone.phone(name="phone" type="tel" placeholder="Ваш телефон" required=true)
            
            input#monobank_name(name="name" type="hidden" required=true)
            input#monobank_email(name="email" type="hidden" required=true)
            
            .form__submit
                button(type="submit").button #{labels.installmentSubmit || ""}
        .installment-modal__disclaimer #{labels.installmentMonobankDisclaimer1 || ""} <a href="https://www.monobank.com.ua/cpa" target="_blank">#{labels.installmentMonobankDisclaimer2 || ""}</a>
