extends ../../layouts/main-admin

block contents
	// Preloader
	.preloader
		.cssload-speeding-wheel
			link(rel='stylesheet', href='/stylesheets/css/jquery.clockpicker.css')

	#wrapper
		include ./../../partials/admin/header
		include ./../../partials/admin/aside-menu

		// Page Content
		#page-wrapper
			.container-fluid
				.row.bg-title
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						h4.page-title Генератор ссылок для покупки продуктов
				.row
					.col-md-12
						.white-box
							.form-horizontal
								.row
									.col-md-6
										.form-group
											label.col-md-4(style="margin-top: 10px;") ID продукта в zohoCRM
											.col-md-6
												input#productID.form-control(type="text" placeholder='Введите ID продукта' required=true)
									.col-md-6
										.form-group
											label.col-md-4(style="margin-top: 10px;") Название продукта в zohoCRM
											.col-md-6
												input#productName.form-control(type="text" placeholder='Введите название продукта' required=true)
								.row
									.col-md-6
										.form-group
											label.col-md-4(style="margin-top: 10px;") Цена
											.col-md-6
												input#price.form-control(type="number" min=0.01 step=0.01 placeholder='Введите цену' required=true)
									.col-md-6
										.form-group
											label.col-md-4(style="margin-top: 10px;") Валюта
											.col-md-6
												select#currency.form-control
													option(value="usd") USD
													option(value="eur") EUR
													option(value="uah") UAH
													option(value="rub") RUB
								.row
									.col-md-6
										.form-group
											label.col-md-4(style="margin-top: 10px;") Мерчант
											.col-md-6
												input#merchant.form-control(type="text" placeholder='Укажите мерчант' required=true)
									.col-md-6
										.form-group
											label.col-md-4(style="margin-top: 10px;") С лендинга
											.col-md-6
												select#landing.form-control
													option(value="yes") Да
													option(value="no") Нет

								.row
									.col-md-6
										.form-group
											label.col-md-4(style="margin-top: 10px;") GR токен (до оплаты)
											.col-md-6
												input#grUnpaid.form-control(type="text" placeholder='Укажите токен GR кампании')
									.col-md-6
										.form-group
											label.col-md-4(style="margin-top: 10px;") Скрыть конвертированные валюты
											.col-md-6
												select#convertationHide.form-control
													option(value="no") Нет
													option(value="yes") Да

								.row
									.col-md-6
										.form-group
											label.col-md-4(style="margin-top: 10px;") Ссылка на success оплаты (необязательно)
											.col-md-6
												input#successLink.form-control(type="text" placeholder='https://example.com')
									.col-md-6
										.form-group
											label.col-md-4(style="margin-top: 10px;") Язык
											.col-md-6
												select#lang.form-control
													option(value="ru") Русский
													option(value="ua" selected=true) Украинский
								.row
									.col-md-6
										.form-group
											label.col-md-4(style="margin-top: 10px;") Скрыть оплату через PayPal
											.col-md-6
												select#payPalHide.form-control
													option(value="no") Нет
													option(value="yes") Да
									.col-md-6
										.form-group
											label.col-md-4(style="margin-top: 10px;") Скрыть оплату через Monobank
											.col-md-6
												select#monoHide.form-control
													option(value="no") Нет
													option(value="yes") Да
								.row
									.col-md-6
										.form-group
											label.col-md-4(style="margin-top: 10px;") Скрыть оплату через Fondy
											.col-md-6
												select#fondyHide.form-control
													option(value="no") Нет
													option(value="yes") Да
									.col-md-6
										.form-group
											label.col-md-4(style="margin-top: 10px;") Скрыть оплату через ПриватБанк
											.col-md-6
												select#privatHide.form-control
													option(value="no") Нет
													option(value="yes") Да

								.row
									.col-md-6
										.form-group
											label.col-md-4(style="margin-top: 10px;") Скрыть оплату через Frisbee
											.col-md-6
												select#frisbeeHide.form-control
													option(value="no") Нет
													option(value="yes") Да

								.row
									.col-md-6
										.form-group
											label.col-md-4(style="margin-top: 10px;") Скрыть оплату через WayForPay
											.col-md-6
												select#wayforpayHide.form-control
													option(value="no") Нет
													option(value="yes") Да

								.form-group.m-b-12
									.col-md-12
										button#generateBtn.btn.btn-success.btn-lg.waves-effect.waves-light.m-t-12(type='button' style="width: 100%;") Получить ссылку

								.row
									.form-group
										.col-md-12
											textarea#result.form-control(placeholder="Сгенерированная ссылка..." readonly=true)

		include ./../../partials/admin/footer

		script.
			$("#generateBtn").click(function () {
				var resultElem = $("#result");
				resultElem.val("");

				var baseURL = "#{baseURL}";

				var productID = $("#productID").val().trim();
				var productName = $("#productName").val().trim().replace(/\|/g, " ");
				var price = parseFloat($("#price").val().trim());
				var currency = $("#currency").val();
				var merchant = $("#merchant").val().trim();
				var grUnpaid = $("#grUnpaid").val().trim();
				var landing = $("#landing").val();
				var convertationHide = $("#convertationHide").val();
				var successLink = $("#successLink").val().trim();
				var lang = $("#lang").val();
				var payPalHide = $("#payPalHide").val();
				var fondyHide = $("#fondyHide").val();
				var monoHide = $("#monoHide").val();
				var privatHide = $("#privatHide").val();
				var frisbeeHide = $("#frisbeeHide").val();
				var wayforpayHide = $("#wayforpayHide").val();

				if (!productID) {
					setError("Укажите ID продукта");
					return false;
				} else {
					var reg = /^\d+$/;
					if (!reg.test(productID)) {
						setError("ID продукта должен содержать только цифры");
						return false;
					} else if (productID.length < 18) {
						setError("ID продукта слишком короткий. Обычно требуется 18 символов.");
						return false;
					} else if (productID.length > 19) {
						setError("ID продукта слишком длинный. Обычно требуется 18 символов.");
						return false;
					}
				}

				if (!productName) {
					setError("Укажите название продукта");
					return false;
				}

				if (!price) {
					setError("Укажите цену");
					return false;
				}

				if (!merchant) {
					setError("Укажите мерчант");
					return false;
				}

				var url = baseURL + "checkout/1?";
				url += ("productID=" + productID + "&");
				url += ("productName=" + productName + "&");
				url += ("productPrice=" + price + "&");
				url += ("currency=" + currency + "&");

				if (grUnpaid) {
					url += ("grUnpaid=" + grUnpaid + "&");
				}

				url += ("merchantID=" + merchant);

				if (landing === "yes") {
					url += ("&landing=true");
				}

				if (convertationHide === "yes") {
					url += ("&convertationHide=true");
				}

				if (successLink) {
					url += ("&successLink=" + successLink);
				}

				url += ("&lang=" + lang);

				if (payPalHide === "yes") {
					url += ("&payPalHide=true");
				}

				if (fondyHide === "yes") {
					url += ("&fondyHide=true");
				}

				if (monoHide === "yes") {
					url += ("&monoHide=true");
				}

				if (privatHide === "yes") {
					url += ("&privatHide=true");
				}

				if (frisbeeHide === "yes") {
					url += ("&frisbeeHide=true");
				}

				if (wayforpayHide === "yes") {
					url += ("&wayforpayHide=true");
				}

				resultElem.val(url);
			});
